.spinner {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 200px;
  }
  
.spinner div {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 50%;
}

.circle3 {
    animation: spin 1s linear infinite;
  }
  
  .circle2 {
    animation: spin 1s -0.20s linear infinite;
  }
  
  
  .circle1 {
    animation: spin 1s -0.40s linear infinite;
  }
  
  @keyframes spin {
    0%, 100% {
      transform: scale(0);
    }
    30% {
      transform: scale(0.8);
    }
  }