.item {
	border: 1px #ffffff solid;
	border-radius: 5%;
	text-align: center;
	padding: 3.5rem 0;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: solid;
	/* animation: border-animation 15s infinite; */
	height: 1rem;
}

.empty:hover {
	transform: scale(1.013);
}

.filled {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7vw;
}

.filled:hover {
	animation: shake-cell 0.2s;
	animation-iteration-count: calc(3);
}
@keyframes shake-cell {
	0% { transform: rotate(0deg); }
  	25% { transform: rotate(1deg); }
  	50% { transform: rotate(0deg); }
  	75% { transform: rotate(-1deg); }
  	100% { transform: rotate(0deg); }
}

@keyframes border-animation {
	0% {
		border-image: linear-gradient(90deg, rgb(184, 145, 235) , rgb(253, 134, 37));
		border-image-slice: 1;
	}
	80% {
		border-image: linear-gradient(90deg, rgb(187, 238, 129) , rgb(247, 247, 160));
		border-image-slice: 1;
	}
	100% {
		border-image: linear-gradient(90deg, rgb(184, 145, 235) , rgb(253, 134, 37));
		border-image-slice: 1;
	}
}

.winning {
	color: green;
	border: 2px solid #32ff0b;
}