.coin-animation {
	animation-name: rotate-and-transform-coin;
	animation-duration: 5s;
}


@keyframes rotate-and-transform-coin {
	30% {
		transform: translateY(-200px) rotateX(1259deg);
	}
	100% {
		transform: translateY(0px) rotateX(0deg);
		filter: blur(2px);
	}
}

.toss-container {
	display: flex;
	width: 100%;
	align-items: flex-end;
	justify-content: center;
	height: 70vh;
}

.button-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.toss-button {
	animation-name: border-animation;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	width: 20%;
}

@keyframes border-animation {
	0% {
		border-image: linear-gradient(90deg, rgb(184, 145, 235) , rgb(253, 134, 37));
		border-image-slice: 1;
	}
	80% {
		border-image: linear-gradient(90deg, rgb(187, 238, 129) , rgb(247, 247, 160));
		border-image-slice: 1;
	}
	100% {
		border-image: linear-gradient(90deg, rgb(184, 145, 235) , rgb(253, 134, 37));
		border-image-slice: 1;
	}
}

.css-sxix9q-MuiButtonBase-root-MuiButton-root.Mui-disabled {
	color: green !important;
}